{$DOMAIN_NAME}:80 {
    proxy / aio:8080 {
        transparent
        except /static
    }
    root /var/www
    log stdout
    errors stdout
    gzip
}
{$DOMAIN_NAME}:80/uploads {
    root /uploads
    log stdout
    errors stdout
    gzip
}
