{% extends "base_chat.html" %}

{% set title = "Recipe detail" %}

{% block content %}
{% if recipe %}
    <li><a href="{{ recipe.recipe_url }}">{{ recipe.recipe_title }} - {{ recipe.recipe_id }}</a></li>
    <b>Publication date:</b> {{ recipe.recipe_pub_date }}
    <br><b>Description:</b> {{ recipe.recipe_descr }}
    <br><b>Source name:</b> {{ recipe.source_name }} <b>Category name:</b> {{ recipe.category_name }}
    <br><img class="small_image" src="{{ recipe.recipe_main_image }}"/>
    <br><b>Prepare time:</b> {{ recipe.prep_time }}
    <br><b>Ingredient list:</b>

    <ul>
    {% if recipe.ingredients %}
        {% for ingredient in recipe.ingredients %}
            <li> {{ ingredient.name }} - {{ ingredient.qty }} </li>
        {% endfor %}
    {%  endif %}
    </ul>
{% else %}
    <p>No such recipe.</p>
{% endif %}
{% endblock %}
